# Analyze data

# 1. Imports

## 1.1 Packages

In [1]:
import os
import pandas as pd


## 1.2 Options

In [2]:
path_data = "../data/01_raw"

## 1.3 Datasets

# 2. Analyze data

In [5]:
df = pd.read_csv(os.path.join(path_data, "train.csv"), index_col=0)

In [6]:
df

    real_text_id
id
0              1
1              2
2              1
3              2
4              2
..           ...
90             2
91             1
92             2
93             2
94             1

[95 rows x 1 columns]